#portfolio, #portfolio-menu {
    background-color: #ff6600;
    color: #1f1f1f;
}

#portfolio svg.navbar,
#portfolio-menu svg.navbar {
    fill: #1f1f1f;
}

/* Animations */

#portfolio:hover, #portfolio-menu:hover {
    background-color: #ff4d00;
    transform: translateY(-3px);
}