/* Import Open Sans */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* General Structure */

* {
    box-sizing: border-box;
}

body {
    /* background-color-image: url('img/bg.png');
    background-color-size: 100%;
    background-color-attachment: scroll;
    background-color-repeat: no-repeat; */
    background-color: #121212;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
}

button {
    font-family: "Open Sans", sans-serif;
    border: 0px;
}

/* Navbar Structure */

nav.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(31, 31, 31, 0.5);
    backdrop-filter: blur(24px);
    height: 64px;
    width: 1440px;
    position: sticky;
    top: 0px;
    left: calc(50% - (1440px / 2));
    border: 1px solid #1f1f1f;
    border-top: 0px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    z-index: 1000;
}

/* Left part of the navbar */

#nav-left {
    display: flex;
    width: fit-content;
    padding: 8px;
    padding-right: 4px;
}

#menu-items {
    display: flex;
    width: fit-content;
}

a.navbar, button.navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    color: #ff6600;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
    border-radius: 24px;
    padding: 12px;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    z-index: 1002;
    transition: all 0.3s ease;
}

svg.arrow {
    transition: all 0.3s ease;
}

/* Right part of the navbar */

#nav-right {
    display: flex;
    width: fit-content;
    padding: 8px;
    padding-left: 4px;
}

#menu-tools {
    display: flex;
    width: fit-content;
}

#settings {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    margin-right: 8px;
    transition: all 0.3s ease;
}

#svg-settings {
    display: block;
    transition: all 0.3s ease;
}

#sign-up {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: #1f1f1f;
    color: #ff6600;
    height: 48px;
    width: 140px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
    margin-right: -48px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

#log-in {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #ff6600;
    color: #1f1f1f;
    height: 48px;
    width: 93px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Button to toggle the menu for mobile devices */
button.toggle-menu {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    border: 0px;
    padding: 0px;
    margin-left: 8px;
    transition: all 0.3s ease;
}

#svg-menu {
    transition: all 0.3s ease;
}

/* Dropdown Menus */

.hidden {
    opacity: 0;
    margin-top: -30px;
    transition: opacity 0.3s ease;
    visibility: hidden;
}

.fade-in {
    opacity: 1;
    margin-top: 0px;
    transition: opacity 0.3s ease;
    visibility: visible;
}

div.hover {
    display: none;
    position: absolute;
    top: 32px;
    height: 40px;
    z-index: 1001;
    background-color: transparent;
}

#hover-apps {
    width: 88px;
    left: 181px;
}

#hover-servers {
    width: 106.72px;
    left: 276px;
}

#hover-about {
    width: 94.2px;
    left: 493px;
}

div.dropdown {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: absolute;
    top: 72px;
    height: 176px;
    padding: 8px;
    border-radius: 24px;
    z-index: 1001;
    background-color: #191919;
    border: 1px solid #1f1f1f;
    transition: all 0.3s ease;
}

#dropdown-apps {
    width: calc(88px + (88px / 1.5));
    left: calc(181px - (88px / 3));
}

#dropdown-servers {
    width: calc(106.72px + (106.72px / 1.5));
    left: calc(276px - (106.72px / 3));
}

#dropdown-about {
    width: calc(94.2px + (94.2px / 1.5));
    left: calc(493px - (94.2px / 3));
}

/* The links inside of the dropdown menu */
a.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: #ff6600;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Main Content */

div.container {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 1440px;
    margin: 0 auto;
}

a.item {
    background-color: #1f1f1f;
    color: black;
    width: calc(33.33% - 16px);
    text-align: center;
    margin: 8px;
    border-radius: 32px;
    padding: 90px 45px;
    font-size: 2em;
    backdrop-filter: blur(10px);
    text-decoration: none;
    transition: all 0.3s ease;
}

h1.title {
    color: #ff6600;
    text-align: center;
    width: 100%;
    max-width: 1440px;
    margin: 8px auto;
}

hr {
    width: 100%;
    max-width: 1440px;
    margin: 8px auto;
    border: 2px solid #1f1f1f;
    border-radius: 2px;
}

/* Animations */

/* Animations of the left part of the navbar */

/* When hovering one of the elements of the dropdown menus or the elements inside of the dropdown menus */
a.navbar:hover, button.navbar:hover, /* Inside of the navbar */
#hover-apps:hover ~ #apps, #dropdown-apps:hover ~ #apps, /* Dropdown menus */
#hover-servers:hover ~ #servers, #dropdown-servers:hover ~ #servers, /* Dropdown menus */
#hover-about:hover ~ #about, #dropdown-about:hover ~ #about, /* Dropdown menus */
a.dropdown:hover { /* Elements inside of the dropdown menus */
    color: #1f1f1f;
    background-color: #ff4d00;
}

/* When hovering one of the elements of the dropdown menus */
button.navbar:hover svg.arrow, /* Inside of the navbar */
#hover-apps:hover ~ #apps #svg-apps, #dropdown-apps:hover ~ #apps #svg-apps, /* Dropdown menus */
#hover-servers:hover ~ #servers #svg-servers, #dropdown-servers:hover ~ #servers #svg-servers, /* Dropdown menus */
#hover-about:hover ~ #about #svg-about, #dropdown-about:hover ~ #about #svg-about { /* Dropdown menus */
    fill: #1f1f1f;
}

/* Animations of the right part of the navbar */

#settings:hover, button.toggle-menu:hover {
    background-color: #ff4d00;
}

#settings:hover #svg-settings, button.toggle-menu:hover #svg-menu {
    fill: #1f1f1f;
}

#sign-up:hover, #log-in:hover {
    color: #1f1f1f;
    background-color: #ff4d00;
}

/* Main Content Animations */

a.item:hover {
    transform: translateY(-5px);
}

/* Website style when screen width is below 1472px */

@media only screen and (max-width: 1472px) {
    nav.navbar {
        width: 100%;
        border-radius: 0px;
    }
}

/* Website style when screen width is below 1153px */

@media only screen and (max-width: 1153px) {
    a.item {
        width: calc(50% - 16px);
    }
}

/* Website style when screen width is below 863px */

@media only screen and (max-width: 863px) {
    button.toggle-menu {
        display: flex;
    }

    #menu-items {
        display: none;
        flex-wrap: wrap;
        align-content: flex-start;
        position: fixed;
        width: 100%;
        height: calc(100vh - 64px);
        top: 64px;
        left: 0px;
        padding: 16px;
        background-color: #121212;
        overflow: hidden auto;
    }

    a.navbar, button.navbar {
        justify-content: space-between;
        width: 100%;
        margin: 0px;
        margin-bottom: 8px;
    }

    div.dropdown {
        position: absolute;
        align-content: flex-end;
        padding-top: 32px;
        height: 224px;
        z-index: -1;
    }

    a.dropdown {
        margin-top: 8px;
    }

    #dropdown-apps {
        width: calc(100% - 32px);
        top: 72px;
        left: 16px;
    }

    #dropdown-servers {
        width: calc(100% - 32px);
        top: 128px;
        left: 16px;
    }

    #dropdown-about {
        width: calc(100% - 32px);
        top: 240px;
        left: 16px;
    }
}

/* Website style when screen width is below 778px */

@media only screen and (max-width: 778px) {
    a.item {
        width: 100%;
    }
}

/* Website style when screen width is below 422px */

@media only screen and (max-width: 422px) {
    #menu-tools {
        display: none;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 80px;
        padding: 16px;
        top: 64px;
        left: 0px;
        background-color: #121212;
    }

    #sign-up {
        width: 93px;
        margin: 0px;
    }

    #menu-items {
        height: calc(100vh - 144px);
        padding-top: 0px;
        top: 144px;
    }

    #dropdown-apps {
        top: 57px;
    }

    #dropdown-servers {
        top: 113px;
    }

    #dropdown-about {
        top: 225px;
    }
}

/* The website breaks at 258px width */