@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}
/* 1036px */
body {
    /* background-image: url('img/bg.png');
    background-size: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat; */
    background-color: #121212;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
}

nav.navbar {
    display: flex;
    background: transparent;
    backdrop-filter: blur(24px);
    padding-left: 16px;
    padding-right: 16px;
    height: 64px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1000;
    border-bottom: 1px solid #1f1f1f;
}

h1.navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #ff6600;
    width: 20%;
    padding: 8px;
    margin: 0px;
    transition: all 0.3s ease;
}

#nav-center {
    display: flex;
    width: 60%;
    justify-content: center;
}

a.navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #ff6600;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    margin: 8px;
    border-radius: 24px;
    padding: 16px;
    background-color: #1f1f1f;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

#apps {
    background-color: #ff6600;
    color: #1f1f1f;
}

#nav-right {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    padding: 8px;
}

#sign-up {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: #1f1f1f;
    color: #ff6600;
    height: 48px;
    width: 140px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
    margin-right: -48px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

#log-in {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #ff6600;
    color: #1f1f1f;
    height: 48px;
    width: 93px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    padding-left: 16px;
    padding-right: 16px;
}

a.item {
    background: transparent;
    color: black;
    flex-grow: 1;
    flex-basis: 300px;
    text-align: center;
    margin: 8px;
    border: 1px solid #1f1f1f;
    border-radius: 32px;
    padding: 90px;
    font-size: 300%;
    backdrop-filter: blur(10px);
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Animations */

a.navbar:hover {
    color: #1f1f1f;
    background-color: #ff4d00;
    transform: translateY(-3px);
}

#apps:hover {
    background-color: #ff4d00;
    transform: translateY(-3px);
}

#sign-up:hover {
    color: #1f1f1f;
    background-color: #ff4d00;
}

#log-in:hover {
    background-color: #ff4d00;
}

/* Website style when screen width is below 1036px */

@media only screen and (max-width: 1036px) {
    body {
        background-color: aliceblue;
    }

    a.navbar, #nav-center {
        display: none;
    }

    #nav-right, h1.navbar {
        width: 50%;
    }
}